{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    <meta name="description" content="Профессиональные услуги SMM специалистов, видеографов и таргетологов. Закажите рекламу, создание контента, продвижение в социальных сетях.">
    <meta name="keywords" content="SMM, видеограф, таргетинг, реклама, продвижение в соцсетях, контент, работа для видеографов, работа для SMM">
    <meta name="author" content="Dan Dasakami">
    {% endblock %}

    <link rel="alternate" hreflang="ru" href="https://shakhada-45id.onrender.com/ru/" />
    <link rel="alternate" hreflang="en" href="https://shakhada-45id.onrender.com/en/" />

    <title>{% block title %}{% trans "Главная страница" %}{% endblock %}</title>

    <!-- SEO Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "shakhada",
        "url": "https://shakhada-45id.onrender.com",
        "description": "Платформа для специалистов в области SMM, видеографии и таргетинга. Публикуйте свои работы, заказывайте рекламу и находите клиентов.",
        "publisher": {
          "@type": "Organization",
          "name": "Shakhada Team",
          "logo": {
            "@type": "ImageObject",
            "url": "{% static 'vendor/img/logo.png' %}"
          }
        },
        "sameAs": [
          "https://t.me/shakhada", 
          "https://www.instagram.com/shakhada", 
          "https://vk.com/shakhada"
        ],
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://shakhada-45id.onrender.com/{{ LANGUAGE_CODE }}/request/request_list?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
      </script>
      

    <!-- Require stylesheet load from local -->
    {% if request.theme == 'dark' %}
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrapss-blacks.min.css' %}">
    <link href="{% static 'vendor/css/base-blac.css' %}" rel="stylesheet"/>
    {% else %}
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-white.min.css' %}">
    <link href="{% static 'vendor/css/base_whi.css' %}" rel="stylesheet"/>
    {% endif %}

    {% block css %}
    <!-- Additional styles can be added here -->
    {% endblock %}
</head>
<body>
    <!-- START: Body Content -->
    <div class="ezy__nav3_DThAkpnD">
	<nav class="navbar navbar-expand-lg navbar-light py-3">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
				SHAKHADA
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ezy_nav3-navbar-text"
				aria-controls="ezy_nav3-navbar-text" aria-expanded="false" aria-label="Toggle navigation">
				<span>
					<span></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="ezy_nav3-navbar-text">
				<ul class="navbar-nav mb-2 mb-lg-0 mt-4 mt-lg-0">
					<li class="nav-item">	
						<form class="mx-lg-3 mb-3 mb-lg-0" action="{% url 'request:request_list' %}" method="GET">
							<div class="input-group">
								<input class="form-control" type="text"  name="q" placeholder="{% trans 'Поиск заявок...' %}" value="{{ query }}" aria-label="Search" />
								<button class="btn btn-primary px-3" type="submit"><span class="fas fa-search"></span></button>
							</div>
						</form>									
					</li>
					<li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'work' %}">{% trans 'Вакансии' %}</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'request:favorite_requests' %}">{% trans 'Избранные' %}</a></li>
          {% if user.is_superuser or users.is_staff  %}
					<li class="nav-item"><a class="nav-link" href="{% url 'admin' %}">Админ панель</a></li>
          {% endif %}
					<li class="nav-item"><a class="nav-link" href="{% url 'notifications:notifications_list' %}">{% trans 'Уведомления' %}</a></li>
          <li class="nav-item">
            <div class="menu">
              <div class="item">
                <a href="#" class="link">
                  <span> {% trans 'Помощь' %} </span>
                  <svg viewBox="0 0 360 360" xml:space="preserve">
                    <g id="SVGRepo_iconCarrier">
                      <path
                        id="XMLID_225_"
                        d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
                      ></path>
                    </g>
                  </svg>
                </a>
                <div class="submenu">
                  <div class="submenu-item">
                    <a href="{% url 'how_it_works' %}" class="submenu-link"> {% trans 'Как это работает?' %} </a>
                  </div>
                  <div class="submenu-item">
                    <a href="{% url 'faq' %}" class="submenu-link"> {% trans 'Вопрос & Ответ' %} </a>
                  </div>
                  <div class="submenu-item">
                    <a href="{% url 'users:send_feedback' %}" class="submenu-link"> {% trans 'Обратная связь' %} </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          
				</ul>
				<div class="profile-user">
          {% if user.is_authenticated %}
          <a href="{% url 'users:profile' username=request.user.username %}">
              <img src="{% if request.user.image %}{{ request.user.image.url }}{% else %}{% static 'vendor/img/Recon.png' %}{% endif %}" 
                   alt="Аватарка" id="profile-client" 
                   style="width: 50px;height: 50px;border-radius: 50%;margin-left: 20px;object-fit: cover;">
          </a>
      {% else %}
					<ul class="navbar-nav flex-row ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="{% url 'users:register' %}" class="btn btn-outline-primary px-3">{% trans 'Зарегистрироваться' %} </a>
						</li>
					</ul>
					<ul class="navbar-nav flex-row ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="{% url 'users:login' %}" class="btn btn-outline-primary px-3">{% trans 'Войти' %}</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      let helpButton = document.getElementById("help-button");
      let helpContainer = document.getElementById("help-container");
  
      helpButton.addEventListener("click", function (event) {
          helpContainer.classList.toggle("hidden");
          event.stopPropagation(); // Предотвращает всплытие клика
      });
  
      // Закрытие контейнера при клике вне него
      document.addEventListener("click", function (event) {
          if (!helpContainer.contains(event.target) && event.target !== helpButton) {
              helpContainer.classList.add("hidden");
          }
      });
  });
  </script>
  

{% block content %}

{% endblock %}

<section class="ezy__footer6_PYi4wL8k">
    <div class="container">
      <div class="row text-center text-sm-start">
        <div class="col-lg-3 mt-4 mt-lg-0">
          <img src="https://cdn.easyfrontend.com/pictures/footers/logo.png" height="50" alt="" />
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-sm-4 mt-4 mt-lg-0">
              <h5>{% trans 'Политика' %}</h5>
              <ul class="nav flex-column ezy__footer6_PYi4wL8k-quick-links">
                <li><a href="{% static 'vendor/file/Terms&Conditions.pdf' %}">Terms & Conditions</a></li>
                <li><a href="{% static 'vendor/file/Privacy_Policy_SharpMaster.pdf' %}">Privacy Policy</a></li>
                <li><a href="{% static 'vendor/file/Refund_Policy_SharpMaster.pdf ' %}">Refund Policy</a></li>
              </ul>
            </div>
            <div class="col-sm-4 mt-4 mt-lg-0">
              <h5>{% trans 'Соц.сеть' %}</h5>
              <ul class="nav flex-column ezy__footer6_PYi4wL8k-quick-links">
                <li><a href="#">Telegram</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Whatsapp</a></li>
              </ul>
            </div>
            <div class="col-sm-4 mt-4 mt-lg-0">
              <h5>{% trans 'Разделы' %}</h5>
              <ul class="nav flex-column ezy__footer6_PYi4wL8k-quick-links">
                <li><a href="{% url 'work' %}">{% trans 'Вакансии' %}</a></li>
                <li><a href="#">{% trans 'Тех.поддержка' %}</a></li>
              </ul>
            </div>
          </div>
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language">
                <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>Русский</option>
                <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                <option value="ky" {% if LANGUAGE_CODE == 'ky' %}selected{% endif %}>Кыргызча</option>
            </select>
            <button type="submit">{% trans "Сменить язык" %}</button>
        </form>
        
          
          
        
        
          <div>
            <ul class="ezy__footer6_PYi4wL8k-social d-inline-flex nav mt-2">
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-telegram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



    <!-- END: Body Content -->

    <!-- Require scripts load from local -->
        <!-- <script src="./dist/js/popper.min.js" ></script> -->
    <!-- <script src="./dist/js/bootstrap.min.js" ></script> -->
    
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
