{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %} 
    {% endblock %}
    <title>{% block title %} Shakhada {% endblock %}</title>
    <!-- Require stylesheet load from local -->
        <!-- <link href="./dist/css/bootstrap.min.css" rel="stylesheet"> -->
            <!-- <link href="./dist/css/fontawesome-all.min.css" rel="stylesheet"> -->
    <!-- Required stylesheets -->
	<link rel="stylesheet" href="{% static 'vendor/css/bootstrapsss.min.css' %}">
    <link href="{% static 'vendor/css/base-whit.css' %}" rel="stylesheet"/>
</head>
<body>
    <!-- START: Body Content -->
    <div class="ezy__nav3_DThAkpnD">
	<nav class="navbar navbar-expand-lg navbar-light py-3">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
				SHAKHADA
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ezy_nav3-navbar-text"
				aria-controls="ezy_nav3-navbar-text" aria-expanded="false" aria-label="Toggle navigation">
				<span>
					<span></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="ezy_nav3-navbar-text">
				<ul class="navbar-nav mb-2 mb-lg-0 mt-4 mt-lg-0">
					<li class="nav-item">	
						<form class="mx-lg-3 mb-3 mb-lg-0" action="{% url 'request:request_list' %}" method="GET">
							<div class="input-group">
								<input class="form-control" type="text"  name="q" placeholder="Поиск заявок..." value="{{ query }}" aria-label="Search" />
								<button class="btn btn-primary px-3" type="submit"><span class="fas fa-search"></span></button>
							</div>
						</form>									
					</li>
					<li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Главная</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'work' %}">Вакансии</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'request:favorite_requests' %}">Избранные</a></li>
          {% if user.is_superuser or users.is_staff  %}
					<li class="nav-item"><a class="nav-link" href="{% url 'admin' %}">Админ панель</a></li>
          {% endif %}
					<li class="nav-item"><a class="nav-link" href="{% url 'notifications:notifications_list' %}">Уведомления</a></li>
          <div style="position: relative; display: inline-block;">
            <button id="help-button">Помощь</button>
            <div id="help-container" class="hidden">
                <button onclick="location.href='/how_it_works/'">Как это работает?</button>
                <button onclick="location.href='/faq/'">Вопрос & Ответ</button>
                <button onclick="location.href='/users/send-feedback/'">Обратная связь</button>
            </div>
        </div>
        
				</ul>
				<div class="profile-user">
					{% if user.is_authenticated %}
						<a href="{% url 'users:profile' username=request.user.username %}"><img src="{% if user.image %}{{ user.image.url }} {% else %} {% static 'vendor/img/Recon.png' %}  {% endif %}" alt="Аватарка" id="profile-client" style="width: 50px;height: 50px;border-radius: 50%;margin-left: 20px;object-fit: cover;" ></a>
					{% else %}
					<ul class="navbar-nav flex-row ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="{% url 'users:register' %}" class="btn btn-outline-primary px-3">Signup </a>
						</li>
					</ul>
					<ul class="navbar-nav flex-row ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="{% url 'users:login' %}" class="btn btn-outline-primary px-3">Login</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      let helpButton = document.getElementById("help-button");
      let helpContainer = document.getElementById("help-container");
  
      helpButton.addEventListener("click", function (event) {
          helpContainer.classList.toggle("hidden");
          event.stopPropagation(); // Предотвращает всплытие клика
      });
  
      // Закрытие контейнера при клике вне него
      document.addEventListener("click", function (event) {
          if (!helpContainer.contains(event.target) && event.target !== helpButton) {
              helpContainer.classList.add("hidden");
          }
      });
  });
  </script>
  

{% block content %}

{% endblock %}

<section class="ezy__footer6_PYi4wL8k">
    <div class="container">
      <div class="row text-center text-sm-start">
        <div class="col-lg-3 mt-4 mt-lg-0">
          <img src="https://cdn.easyfrontend.com/pictures/footers/logo.png" height="50" alt="" />
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-sm-4 mt-4 mt-lg-0">
              <h5>Политика</h5>
              <ul class="nav flex-column ezy__footer6_PYi4wL8k-quick-links">
                <li><a href="{% static 'vendor/file/Terms&Conditions.pdf' %}">Terms & Conditions</a></li>
                <li><a href="{% static 'vendor/file/Privacy_Policy_SharpMaster.pdf' %}">Privacy Policy</a></li>
                <li><a href="{% static 'vendor/file/Refund_Policy_SharpMaster.pdf ' %}">Refund Policy</a></li>
              </ul>
            </div>
            <div class="col-sm-4 mt-4 mt-lg-0">
              <h5>Соц.сеть</h5>
              <ul class="nav flex-column ezy__footer6_PYi4wL8k-quick-links">
                <li><a href="#">Telegram</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Whatsapp</a></li>
              </ul>
            </div>
            <div class="col-sm-4 mt-4 mt-lg-0">
              <h5>Разделы</h5>
              <ul class="nav flex-column ezy__footer6_PYi4wL8k-quick-links">
                <li><a href="{% url 'work' %}">Вакансии</a></li>
                <li><a href="#">Тех.поддержка</a></li>
              </ul>
            </div>
          </div>
  
          <div class="d-inline-flex align-items-center mt-3">
            <label for="ezy__footer6_PYi4wL8k-language">Язык </label>
            <select name="language" id="ezy__footer6_PYi4wL8k-language"
              class="form-select ezy__footer6_PYi4wL8k-language border-0 bg-transparent">
              <option value="ru">Русский</option>
              <option value="en">English</option>
            </select>
          </div>
          <div>
            <ul class="ezy__footer6_PYi4wL8k-social d-inline-flex nav mt-2">
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-telegram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



    <!-- END: Body Content -->

    <!-- Require scripts load from local -->
        <!-- <script src="./dist/js/popper.min.js" ></script> -->
    <!-- <script src="./dist/js/bootstrap.min.js" ></script> -->
    
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
