{% extends 'base.html' %}
{% load i18n %}
{% block title %}Shakhada — {% trans "Избранное" %}{% endblock %}

{% block meta %}
<meta name="description" content="{% trans 'Посмотрите ваши сохраненные запросы, вакансии или другие элементы на платформе Shakhada. Управляйте вашими избранными элементами для быстрого доступа.' %}">
<meta name="keywords" content="избранное, сохраненные запросы, сохраненные вакансии, избранные элементы, работа на платформе, SMM, видеограф, таргетинг">
<meta name="robots" content="index, follow">
<link rel="canonical" href="https://shakhada-45id.onrender.com/request/favorites/">
{% endblock %}
{% block content %}
<h2>{% trans 'Избранные заявки' %}</h2>

{% for fav in favorites %}
    <div class="request-card">
        <h3>{{ fav.request.title }}</h3>
        <p>{{ fav.request.description }}</p>
        <a href="{% url 'request:request_detail' fav.request.id %}">{% trans 'Подробнее' %}</a>
    </div>
{% empty %}
    <p>{% trans 'Нет избранных заявок' %}</p>
{% endfor %}

<h2>
    {% trans 'Избранные клиентские заявки' %}
</h2>

{% for fav in client_favorites %}
    <div class="request-card">
        <h3>{{ fav.client_request.title }}</h3>
        <p>{{ fav.client_request.description }}</p>
        <a href="{% url 'request:client_request_detail' fav.client_request.id %}">{% trans 'Подробнее' %}</a>
    </div>
{% empty %}
    <p>{% trans 'Нет избранных заявок' %}</p>
{% endfor %}

<style>
    /* Основные стили для карточек заявок */
.request-card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.request-card h3 {
    font-size: 1.5em;
    margin: 0;
}

.request-card p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
}

.request-card a {
    font-size: 1em;
    color: #007bff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.request-card a:hover {
    text-decoration: underline;
}

/* Для заголовков секций */
h2 {
    font-size: 1.8em;
    margin-top: 30px;
    color: #333;
}

/* Адаптивность */
@media (max-width: 768px) {
    .request-card {
        padding: 12px;
        margin-bottom: 15px;
    }

    .request-card h3 {
        font-size: 1.3em;
    }

    .request-card p {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.6em;
    }
}

@media (max-width: 480px) {
    .request-card {
        padding: 10px;
    }

    .request-card h3 {
        font-size: 1.2em;
    }

    .request-card p {
        font-size: 0.8em;
    }

    h2 {
        font-size: 1.4em;
    }
}

</style>
{% endblock %}
