{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>{{ request_obj.title }}</h2>
    <p>Автор: {{ request_obj.author.username }} (Рейтинг:{{ author_rating }} )</p>
    <p>{{ request_obj.description }}</p>

    {% if request_obj.contact_info %}
    <h3>Контактная информация:</h3>
    <p>{{ request_obj.contact_info }}</p>
{% else %}
    <p>Контактная информация не предоставлена</p>
{% endif %}

    {% if request_obj.image %}
        <img src="{{ request_obj.image.url }}" alt="Изображение">
    {% endif %}

    {% if user == request_obj.author %}
        <a href="{% url 'request:edit_request' request_obj.id %}">Редактировать</a>
        <a href="{% url 'request:delete_request' request_obj.id %}">Удалить</a>
    {% endif %}

    <h3>Комментарии</h3>
    {% for comment in comments %}
    <div class="comment">
        {% if comment.author.image %}
            <img src="{{ comment.author.image.url }}" alt="Avatar" class="avatar">
        {% else %}
        <img src="{% static 'vendor/img/Recon.png' %}" alt="Default Avatar" class="avatar">
        {% endif %}
        <a href="{% url 'users:profile' comment.author.username %}">{{ comment.author.username }}</a>
        <p>{{ comment.text }}</p>
        <p><small>{{ comment.created_at }}</small></p>

        {% if comment.author == request.user %}
            <a href="{% url 'request:edit_comment' comment.id %}">Редактировать</a>
            <form action="{% url 'request:delete_comment' comment.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        {% endif %}
    </div>
{% endfor %}




    <h3>Добавить комментарий</h3>
    <form method="POST" action="{% url 'request:add_comment' request_obj.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
{% endblock %}
