{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block meta %}
<meta name="description" content="{% trans 'Платформа для профессионалов в области SMM, видеографии и таргетинга. Здесь можно размещать работы, заказывать услуги и находить клиентов.' %}">
<meta name="keywords" content="SMM, видеограф, таргетинг, платформа для специалистов, заказ услуг, поиск работы, продвижение в соцсетях, контент">
<meta name="robots" content="index, follow">
<link rel="canonical" href="https://shakhada-45id.onrender.com">
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/css/home-whit.css' %}">
{% endblock %}
{% block title %} Shakhada {% endblock %}
{% block content %}
<section class="ezy__header29_78nRsOmo" style="background-image: url(https://cdn.easyfrontend.com/pictures/hero/hero_30.png)">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-9">
          <h1 class="ezy__header29_78nRsOmo-heading">{% trans 'Найди и найм лучших специалистов в SMM, фото, видео и маркетинге!' %}</h1>
          <p class="ezy__header29_78nRsOmo-sub-heading px-5 py-4">
            {% trans 'Ищешь опытного специалиста для продвижения бизнеса? Или ты сам — SMM-менеджер, видеограф, маркетолог и хочешь получать заказы? ' %}
          </p>
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
              <form class="px-5" action="{% url 'request:request_list' %}" method="GET">
                <div class="form-group mb-0">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="{% trans 'Поиск заявок...' %}" value="{{ query }}" >
                    <button class="btn ezy__header29_78nRsOmo-btn" type="submit"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </form>										
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ezy__numbers5_1rgnoBq5">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <h3 class="mb-3 mb-md-4">10 000+</h3>
          <h5 class="mb-0">{% trans 'Откликов каждый месяц' %}</h5>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <h3 class="mb-3 mb-md-4">1000+</h3>
          <h5 class="mb-0"> {% trans 'Зарегистрированных специалистов' %}</h5>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <h3 class="mb-3 mb-md-4">534</h3>
          <h5 class="mb-0">{% trans ' Успешных проектов' %} </h5>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
          <h3 class="mb-3 mb-md-4">93%</h3>
          <h5 class="mb-0">{% trans 'Клиентов находят исполнителя за 24 часа' %} </h5>
        </div>
      </div>
    </div>
  </section>


  <section class="ezy__team12_MxU7Pf3b">
    <div class="container">
      <div class="row ezy__team12_MxU7Pf3b-separator text-center">
        <!-- Start: Section Heading -->
        <div class="">
          <h3 class="ezy__team12_MxU7Pf3b-heading">{% trans 'Команда основателей' %} </h3>
          <p class="ezy__team12_MxU7Pf3b-sub-heading mt-3 mb-5">{% trans 'Мы не идеальны, но зато смешные. А сайт вроде работает!' %}</p>
        </div>
        <!-- End: Section Heading -->
  
        <div class="row">
          <div class="ezy__team12_MxU7Pf3b-each-features col-12 col-lg-4">
            <div class="ezy__team12_MxU7Pf3b-features-inner position-relative">
              <img
                src="{% static 'vendor/img/timur.png' %}"
                alt="Our Team Member Image"
                class="img-fluid w-100"
              />
              <div class="ezy__team12_MxU7Pf3b-features-content text-center">
                <h3 class="ezy__team12_MxU7Pf3b-title mb-1">Тимур Юнусов</h3>
                <p class="ezy__team12_MxU7Pf3b-sub-title">Продукт менеджер, SMM-специалист, мастер переговоров</p>
  
                <div class="ezy__team12_MxU7Pf3b-social-icon-area mt-1">
                  <ul class="nav ezy__team12_MxU7Pf3b-social-icon d-flex justify-content-center align-items-center">
                    <li>
                      <a href="https://www.instagram.com/yunus0v_24/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="https://web.telegram.org/a/#7458746239"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </li>
                  </ul>
                  <!-- End: .social-icon -->
                </div>
              </div>
            </div>
            <!-- End: .features-inner -->
          </div>
          <!-- End: .each-features -->
  
          <div class="ezy__team12_MxU7Pf3b-each-features col-12 col-lg-4">
            <div class="ezy__team12_MxU7Pf3b-features-inner position-relative">
              <img
                src="{% static 'vendor/img/shabu-ai.png' %}"
                alt="Our Team Member Image"
                class="img-fluid w-100"
                id="shabu-bro"
              />
              <div class="ezy__team12_MxU7Pf3b-features-content text-center">
                <h3 class="ezy__team12_MxU7Pf3b-title mb-1">Шахбоз Шералиев</h3>
                <p class="ezy__team12_MxU7Pf3b-sub-title">Мобилограф, менеджер по рекламе, ГГГ(главный герой гарема)</p>
  
                <div class="ezy__team12_MxU7Pf3b-social-icon-area mt-1">
                  <ul class="nav ezy__team12_MxU7Pf3b-social-icon d-flex justify-content-center align-items-center">
                    <li>
                      <a href="https://www.instagram.com/sheralievv.66/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="https://web.telegram.org/a/#5360924081"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </li>
                  </ul>
                  <!-- End: .social-icon -->
                </div>
              </div>
            </div>
            <!-- End: .features-inner -->
          </div>
          <!-- End: .each-features -->
  
          <div class="ezy__team12_MxU7Pf3b-each-features col-12 col-lg-4">
            <div class="ezy__team12_MxU7Pf3b-features-inner position-relative">
              <img
                src="{% static 'vendor/img/dan.png' %}"
                alt="Our Team Member Image"
                class="img-fluid w-100"
              />
              <div class="ezy__team12_MxU7Pf3b-features-content text-center">
                <h3 class="ezy__team12_MxU7Pf3b-title mb-1">Dan Dasakami</h3>
                <p class="ezy__team12_MxU7Pf3b-sub-title">Главный разработчик, SEO-специалист, Спец по кибербезопасности</p>
  
                <div class="ezy__team12_MxU7Pf3b-social-icon-area mt-1">
                  <ul class="nav ezy__team12_MxU7Pf3b-social-icon d-flex justify-content-center align-items-center">
                    <li>
                      <a href="https://www.instagram.com/dskenglish.dsk/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="https://web.telegram.org/a/#5506386309"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li>
                      <a href="https://vk.com/dasakami"><i class="fab fa-vk"></i></a>
                    </li>
                  </ul>
                  <!-- End: .social-icon -->
                </div>
              </div>
            </div>
            <!-- End: .features-inner -->
          </div>
          <!-- End: .each-features -->
        </div>
        <!-- End: .row -->
      </div>
      <!-- End: .row -->
    </div>
    <!-- End:.container -->
  </section>


  <section class="ezy__faq9_Kb3hGEJe">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h2 class="ezy__faq9_Kb3hGEJe-heading mb-4">{% trans 'Часто задаваемые вопросы' %}</h2>
<p class="ezy__faq9_Kb3hGEJe-sub-heading mb-0">
  {% trans 'Здесь вы найдете ответы на самые популярные вопросы о работе нашей платформы. Если не нашли нужную информацию, свяжитесь с нами!' %}'
</p>

        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="ezy__faq10_Kb3hGEJe-bg-holder h-100"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/sign-in-up/sign-in-up-2.png)"></div>
        </div>
        <div class="col-md-8 ps-lg-5">
          <div class="ezy__faq9_Kb3hGEJe-item">
            <h5
              class="p-3 p-lg-4 mb-0 w-100 text-start d-flex justify-content-between align-items-center ezy__faq9_Kb3hGEJe-btn-collapse">
              <span>{% trans 'Как работает платформа?' %}</span>
            </h5>
            <div class="ezy__faq9_Kb3hGEJe-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                {% trans 'Вы можете оставить заявку на услугу или выбрать специалиста из списка. После этого начинается общение и обсуждение деталей.' %}
              </p>
            </div>
          </div>
          <div class="ezy__faq9_Kb3hGEJe-item">
            <h5
              class="p-3 p-lg-4 mb-0 w-100 text-start d-flex justify-content-between align-items-center ezy__faq9_Kb3hGEJe-btn-collapse">
              <span> {% trans 'Сколько стоит использование платформы?' %}</span>
            </h5>
            <div class="ezy__faq9_Kb3hGEJe-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                {% trans 'Размещение заявок и поиск специалистов – бесплатно. Возможны дополнительные платные функции для продвижения.' %}'
              </p>
            </div>
          </div>
          <div class="ezy__faq9_Kb3hGEJe-item">
            <h5
              class="p-3 p-lg-4 mb-0 w-100 text-start d-flex justify-content-between align-items-center ezy__faq9_Kb3hGEJe-btn-collapse">
              <span>{% trans 'Какие специалисты здесь работают?' %}</span>
            </h5>
            <div class="ezy__faq9_Kb3hGEJe-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                {% trans 'На платформе можно найти SMM-специалистов, маркетологов, видеографов, мобилографов, копирайтеров и других.' %}
              </p>
            </div>
          </div>
          <div class="ezy__faq9_Kb3hGEJe-item">
            <h5
              class="p-3 p-lg-4 mb-0 w-100 text-start d-flex justify-content-between align-items-center ezy__faq9_Kb3hGEJe-btn-collapse">
              <span>{% trans 'Как убедиться в надежности специалиста?' %}</span>
            </h5>
            <div class="ezy__faq9_Kb3hGEJe-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                {% trans 'Вы можете просмотреть портфолио, отзывы и рейтинг специалиста перед тем, как начать сотрудничество.' %}
              </p>
            </div>
          </div>
          <div class="ezy__faq9_Kb3hGEJe-item">
            <h5
              class="p-3 p-lg-4 mb-0 w-100 text-start d-flex justify-content-between align-items-center ezy__faq9_Kb3hGEJe-btn-collapse">
              <span>{% trans 'Что делать, если возникли проблемы с заказом?' %}</span>
            </h5>
            <div class="ezy__faq9_Kb3hGEJe-content px-3 px-lg-4 pb-lg-4">
              <p class="opacity-50 mb-0">
                {% trans 'Свяжитесь с нашей поддержкой – мы поможем разобраться в ситуации.' %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
