{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/css/how_it_works.css' %}">
{% endblock %}
{% block title %} Shakhada {% endblock %}
{% block content %}
<section class="ezy__howitworks11_5SyB7pU4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-column align-items-center text-center">
            <h2 class="ezy__howitworks11_5SyB7pU4-heading">How It Works</h2>
            <hr class="ezy__howitworks11_5SyB7pU4-divider" />
          </div>
        </div>
        <div class="row position-relative mt-5 ps-5 ps-md-0">
          <!-- verticle line -->
          <div class="ezy__howitworks11_5SyB7pU4-line">
            <h4 class="ezy__howitworks11_5SyB7pU4-end">End</h4>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="ezy__howitworks11_5SyB7pU4-card position-relative p-4 p-md-5">
                  <h5 class="ezy__howitworks11_5SyB7pU4-count ezy__howitworks11_5SyB7pU4-count-one text-center">
                    Step <br />
                    <span>O1</span>
                  </h5>
                  <h4 class="ezy__howitworks11_5SyB7pU4-title fw-bold mb-3">Get Online Offer</h4>
                  <p class="opacity-75">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, qui. Quisquam in iusto
                    consequuntur, error alias autem temporibus distinctio ratione nulla assumenda labore, veniam
                    molestiae voluptatum facilis illum a odit nostrum cupiditate recusandae sint omnis? Tenetur, id
                    non cupiditate porro fugiat vitae laudantium, sint repellendus aspernatur officiis obcaecati! Ab,
                    quidem.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row justify-content-end">
              <div class="col-12 col-md-6">
                <div class="ezy__howitworks11_5SyB7pU4-card position-relative p-4 p-md-5 pt-3 pt-md-3">
                  <h5 class="ezy__howitworks11_5SyB7pU4-count ezy__howitworks11_5SyB7pU4-count-two text-center">
                    Step <br />
                    <span>O2</span>
                  </h5>
                  <h4 class="ezy__howitworks11_5SyB7pU4-title fw-bold mb-3">Ship Your Phone Free!</h4>
                  <p class="opacity-75">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, qui. Quisquam in iusto
                    consequuntur, error alias autem temporibus distinctio ratione nulla assumenda labore, veniam
                    molestiae voluptatum facilis illum a odit nostrum cupiditate recusandae sint omnis? Tenetur, id
                    non cupiditate porro fugiat vitae laudantium, sint repellendus aspernatur officiis obcaecati! Ab,
                    quidem.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="ezy__howitworks11_5SyB7pU4-card position-relative p-4 p-md-5 pt-3 pt-md-3">
                  <h5 class="ezy__howitworks11_5SyB7pU4-count ezy__howitworks11_5SyB7pU4-count-three text-center">
                    Step <br />
                    <span>O3</span>
                  </h5>
                  <h4 class="ezy__howitworks11_5SyB7pU4-title fw-bold mb-3">Get Paid Fast</h4>
                  <p class="opacity-75">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, qui. Quisquam in iusto
                    consequuntur, error alias autem temporibus distinctio ratione nulla assumenda labore, veniam
                    molestiae voluptatum facilis illum a odit nostrum cupiditate recusandae sint omnis? Tenetur, id
                    non cupiditate porro fugiat vitae laudantium, sint repellendus aspernatur officiis obcaecati! Ab,
                    quidem.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}