{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Shakhada — {% trans "Работа" %}{% endblock %}

{% block meta %}
<meta name="description" content="{% trans 'Ищите работу в области SMM, видеографии и таргетинга? На Shakhada вы можете найти заказы, продвигать свои услуги и работать с клиентами.' %}">
<meta name="keywords" content="работа, вакансии, SMM, видеограф, таргетинг, заказ работы, найти клиентов, работа для специалистов, платформа для фрилансеров">
<meta name="robots" content="index, follow">
<link rel="canonical" href="https://shakhada-45id.onrender.com/work/">
{% endblock %}
{% block content %}
<div class="container">
    <div class="block-flex">
        <div class="block-item">
            <h2>{% trans 'Для клиентов' %}</h2>
            <a href="{% url 'request:request_list' %}">{% trans 'Искать специалиста' %}</a>
        </div>
        <div class="block-item">
            <h2>{% trans 'Для специалистов' %}</h2>
            <a href="{% url 'request:client_request_list' %}">{% trans 'Искать клиента' %}</a>
        </div>
    </div>
</div>

<style>
    /* Основные стили для контейнера */
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Стиль для контейнера с блоками */
    .block-flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        flex-wrap: wrap;
    }

    /* Стиль для каждого блока */
    .block-item {
        background: linear-gradient(to right, #6a11cb, #2575fc); /* Градиентный фон */
        width: 280px;
        height: 250px;
        border-radius: 20px;
        text-align: center;
        padding: 20px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
        transition: transform 0.3s, box-shadow 0.3s; /* Плавное увеличение и тень */
    }

    /* Эффект при наведении на блок */
    .block-item:hover {
        transform: translateY(-10px); /* Легкое поднятие */
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Тень при наведении */
    }

    /* Стили для заголовков в блоках */
    .block-item h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Стили для ссылок */
    .block-item a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 20px;
        transition: color 0.3s;
    }

    /* Эффект при наведении на ссылку */
    .block-item a:hover {
        color: #ffdd57; /* Желтый цвет при наведении */
    }
</style>
{% endblock %}
